/* START PRELOADER */

.preloader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: #212121;
    z-index: 5000;
  }
  
  .preloader__row {
    position: relative;
    top: 50%;
    left: 50%;
    width: 70px;
    height: 70px;
    margin-top: -35px;
    margin-left: -35px;
    text-align: center;
    animation: preloader-rotate 0.7s infinite linear;
  }
  
  .preloader__item {
    position: absolute;
    display: inline-block;
    top: 0;
    background-color: #ff0000;
    border-radius: 100%;
    width: 35px;
    height: 35px;
    animation: preloader-bounce 0.7s infinite ease-in-out;
  }
  
  .preloader__item:last-child {
    top: auto;
    bottom: 0;
    animation-delay: -1s;
  }
  
  @keyframes preloader-rotate {
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes preloader-bounce {
  
    0%,
    100% {
      transform: scale(0);
    }
  
    50% {
      transform: scale(1);
    }
  }
  
  .loaded_hiding .preloader {
    transition: 0.3s opacity;
    opacity: 0;
  }
  
  .loaded .preloader {
    display: none;
  }


/* END PRELOADER */



body {
    font-family: 'Baloo Chettan 2', cursive;
}
a.nav-link {
    color: #fff;
}

bg-dark {
    color: #222222;
}

a:hover {
    color: red;
}


html, 
body, 
.view {
    height: 100%;
}

.carousel {
    height: 50%;
}

.carousel .carousel-inner {
    height: 100%;
}

.carousel .carousel-inner .carousel-item, 
.carousel .carousel-inner .active {
    height: 100%;
}

@media (max-width:776px) {
    .carousel {
        height: 100%;
    }
}



main .container #header {
    background: gray;
}

    html, 
    body,
    .carousel {
      height: 100vh;
}

@media (max-width:740px) {
    html, 
    body,
    .carousel {
      height: 100vh;
  }
@media (min-width: 800px) and (max-width: 850px) {
    html, 
    body, 
    header,
    .carousel {
      height: 100vh;
    }
  }
}




p.text-testimonails {
    font-size: 20px;
}

p.font-weight-bold {
    font-size: 25px;
}

#slippers {
    padding-top: 5%;
    padding-bottom: 5%;
}

h1.mt-4 {
    color: #fff;
    font-weight: bold;
    font-size: 50px;
}

p.text-white.mt-4 {
    font-size: 20px;
}

div.row.text-white {
    padding-top: 50px;
}

div.col-3 {
    font-size: 20px;
}

#hotel-content {
    margin-top: 15%;
}
i.fa.fa-star {
    color: red;
}

.col-1 {
    padding-top: 5%;
}
h1.hotel {
    font-size: 160px;
    font-weight: bold;
    letter-spacing: 2px;
}

h3.mt-4 {
    padding-top: 5%;
    padding-bottom: 5%;
    font-weight: bold;
    font-size: 50px;
    letter-spacing: 2px;
}

p.hotel-adress {
    padding-top: 5%;
    font-size: 18px;
    letter-spacing: 3px;
}

@media (max-width: 740px) {

#hotel-content {
    margin-top: 30%;
}

.col-1 {
    display: none;
}
h1.hotel {
    font-size: 80px;
    font-weight: bold;
    letter-spacing: 2px;
}

h3.mt-4 {
    padding-top: 5%;
    padding-bottom: 5%;
    font-weight: bold;
    font-size: 30px;
    letter-spacing: 2px;
}

p.hotel-adress {
    padding-top: 5%;
    font-size: 18px;
    letter-spacing: 3px;
}
}

section.services {
    background: #353944;
    padding-top: 3%;
    padding-bottom: 3%;
}

h1.services {
    letter-spacing: 5px;
    font-size: 50px;
    padding: 10px;
    font-weight: bold;
}

p.services {
    font-size: 20px;
}

h1 {
    font-weight: bold;
}

i#social{
    color: red;
}

h1#testimonails.mt-4 {
    color: black;
    letter-spacing: 5px;
}

p.testimonails {
    font-size: 23px;
    padding-top: 10px;
}

@media (max-width: 450px) {
    h1#testimonails.mt-4 {
        font-size: 30px;
        padding-top: 10px;
    }
    p.testimonails {
        font-size: 18px;
        padding-top: 10px;
    }
    h3.mb-4 {
        font-size: 20px;
        font-weight: bold;
    }

    h1.services {
        font-size: 40px;
    }
    
    h1.hotel {
        font-size: 60px;
    }

    h1.mt-4 {
        font-size: 40px;
    }
}

#footer.container {
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: auto;
    padding-right: auto;
}

.social-icon {
    padding-top: 2%;
}

.icon {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: #fff 3px solid;
    background-color: #000;
    display: inline-block;
    margin: 0 auto;
    margin: 20px;
}

#icon {
    padding: 20px;
    color: white;
}

#icon:hover {
    background-color: #fff;
    color: #000;
    border-radius: 50%;
    border: #fff 3px solid;
    margin-top: -1px;
    margin-left: -1px;
}


